.createQuiz {
  @apply grid gap-8 pt-8 pb-8;

  .quizDashboard {
    @apply flex gap-8;

    .quizContentWrapper {
      height: calc(100vh - 300px);
      @apply w-full overflow-y-auto;

      &.showedQuestionCreator {
        width: calc(100% - 400px);
      }
    }

    .quizCreatorWrapper {
      width: 400px;
      height: calc(100vh - 300px);
      @apply overflow-y-auto bg-slate-50 p-4;
    }
  }

  .createQuizForm {
    @apply grid gap-4;

    .fieldsWrapper {
      @apply grid grid-cols-1 gap-4 border-dashed border-b border-gray-300 pb-4;
    }

    .questionsList {
      @apply grid grid-cols-1 gap-4 border-dashed border-b border-gray-300 pb-4;
    }
  }
}
